<!DOCTYPE html>
<html>
<head>

    <!-- Meta -->
    <title>Leaderboard</title>
    <meta charset="utf-8" />

    <!-- Style -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" />


    <style>
        body {
            background-image: url('/img/Background.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>

    <!-- Scripts -->
    <script src="/js/script.js"></script>

</head>
<body>
    <div id="MDiv"></div>
    <div>
        <div class="menuText">
            <h1>LEADERBOARD</h1>
            <a id="returnText" href="/">RETURN</a>
        </div>
    </div>

</body>
</html>